body, html {
width : 100%;
height : 100%;
}
#map {
width : 100%;
height : 400px;
}
#map canvas {
cursor : crosshair;
}
.crisp-pixel {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
#map .mapboxgl-popup * {
  pointer-events: none;
}
